<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI</title>
</head>
<!-- FAST API and Jinja -->
<!-- FastAPI is not really optimized for serving HTML using Jinja, it is designed for microservices and building APIs.  -->
<!-- If a large website is built Django is probably better -->

<body>
    {% for recipe in recipes %}
    <h2 class="mb-4 font-semibold tracking-widest text-white uppercase title-font">{{ recipe.label }}</h2>
    {% endfor %}

</body>

</html>